<!DOCTYPE html>
<!--
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${book}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="authorName">Author Name</label>
        <input class="form-control" th:field="*{authorName}" />
        <span th:errors="*{authorName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="rating">Rating</label>
        <select th:field="*{rating}">
            <option th:each="bookRating : ${bookRatings}"
                    th:text="${bookRating.name}"
                    th:value="${bookRating}"></option>
        </select>
        <span th:errors="*{rating}" class="error" style="color: red;"></span>
    </div>


    <input type="hidden" th:value="${book.id}" name="id" />
    <input type="submit" value="Edit Book" />
</form>

</body>
</html>
-->