<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${books} and ${books.size()}">No books yet</p>

<table class="table table-striped">

    <tr>
        <th>Name</th>
        <th>Author Name</th>
        <th>Rating</th>
        <th>Edit</th>

    </tr>

    <tr th:each ="book : ${books}">
        <td th:text="${book.name}"></td>
        <td th:text="${book.authorName}"></td>
        <td th:text="${book.bookRating.name}"></td>
        <td><a th:href="@{'/book/edit/' + ${book.id}}">Edit</a> </td>
    </tr>
</table>

<a href="/book/add">Add A Book</a> |
<a href="/book/remove">Remove From List</a>

</body>
</html>